
body {
  margin: 0;
  padding: 0;
}

.info {
  background: #E5E7E9;
  padding: 1px 9px;
  border-radius: 5px;
}

#map,
body,
html {
  height: 100%;
}

.legend i {
  height: 21px;
  width: 21px;
  float: right;
  margin-right: 11px;
  opacity: 0.75;
}

.legend {
  line-height: 24px;
  color: #000000;
}

